.section {
    --review-card-bg: #FFFFFF;
    padding: 3rem 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.section h2{
    color: #e3dede;
}
.list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3,1fr);
}
