.section {
  padding: 3rem 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.section h2{
    color: #e3dede;
}
